<footer class="flex-row">
    <style>
        footer {
            background-color: var(--black);
            width: 100%;
            min-height: 15rem;
        }
        
    </style>
    <div class="flex-column">
        <h3>Links</h3>
        <a href="">Home</a>
        <a href="">Autori</a>
        <a href="">Curente</a>
        <a href="">Perioade</a>
    </div>
    <div class="flex-column">

    </div>
    <div class="flex-column">

    </div>
</footer>