<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BACH</title>
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="shortcut icon" href="../public/res/UI/favicon.ico" type="image/x-icon">
    <script src="../public/scripts/main.js" defer></script>
    <script src="../public/data/opere.json"></script>
</head>
<body class="flex-column">
    <header class="flex-column">
        <div class="title">
            <h1 class="bac flex-row">BAC</h1>
            <h1 class="h">H<span class='elper'>elper</span></h1>
        </div>
       <h2 class="desc">Urasti bacul la romana si acesta se apropie cu pasi rapizi? Welcome to BACH!</h2>
    </header>
    <div id="main" class="nav flex-row">
        <img onclick="showMenu()" src="../public/res/UI/menu.svg" alt="">
        <h3 id="tab-title">Curente</h3>
    </div>
    <main class="flex-row">
        
        <div id='menu' class='menu flex-column'>
            <div class="fullbox flex-column" >
                <div class='close'>
                    <img onclick="hideMenu(this)" src="../public/res/UI/close.svg" alt="">
                </div>
                <ul>
                    <li option="curente" class="option active">Curente</li>
                    <li option="perioade" class="option">Perioade</li>
                    <li option="autori" class="option">Autori</li>
                    <li option="opere" class="option">Opere</li>
                </ul>
            </div>
            
        </div>
        <section class='container flex-column'>
            <div id='loading' class="loading flex-column">
                <img  src="/public/res/UI/loading.svg">
            </div>

            <div tab="curente" class="active flex-row">
                
            </div>
            <div tab="perioade" class="flex-row">
               
            </div>
            <div tab="autori" class="flex-row">
                Autori
            </div>
            <div tab="opere">
                Opere
            </div>
            
        </section>
    </main>
    <%-include('partials/footer')%>
</body>
</html>